<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PCI DSS Automation Project">
	 <listeners>
        <listener class-name="org.testng.reporters.XMLReporter" />
    </listeners>
<test name="Car Park Test" >
 		 <classes>
			<class name="scripts.CarParkTest"/>
		</classes>
		
</test> 
</suite> <!-- Default suite -->

