<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Grid Test" parallel="tests" thread-count="3">
	
	 <listeners>
        <listener class-name="org.testng.reporters.XMLReporter" />
    </listeners>
<test name="Grid Test On IE" >
    <parameter name="browser" value="ie" />
 		 <classes>
			<class name="scripts.CarParkTest"/>
		</classes>
		
</test> 


</suite> <!-- Default suite -->

